html {
    scroll-behavior: smooth;
}

body {
    /* font-size: 80px; */
}

.nav-logo {
    height: 30px;
    width: 30px;
}

.row2 {
    background-image: url("../images/downtown-austin.jpeg");
    height: 90vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row3 {
    background-image: url("../images/Hamiltons-Pool-in-Texas.jpg");
    height: 90vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-color:#FAE5CA;
    align-content: center;
}


#map {
    height: 200px;
}

.search-box {
    height: 300px;
    width: 500px;
    background-color: #ebebee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    border-radius: 12px; 
}

.guide-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.search-bar {
    border-radius: 5px;
    margin-bottom: 15px;
}

#button {
    color: #006BB6;
    opacity: 1;
}