body{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 80px;
   
}

.container {
    
    background-color: transparent;
 
}
img{
    opacity: 0.5;
    
}
.card-title{font-family: 'Anton', sans-serif;
    text-align: center

}
.display-4{
    text-align: center

}
html {
    scroll-behavior: smooth;
  }

  h1 {
    font-family: -webkit-body;
    }


  .jumbotron{
    background-color:#FAE5CA;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px ;
  }

  .lead{
      text-align: center;

  }

.input-group {
    width : 40%;
    margin: auto;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    padding-top: 250px;
    margin-bottom: 40 px;
}

.input-group-prepend {
    float: right;
}

.card {
    margin-bottom: 40 px;
}

#map {
    height: 200px;
}